.container {
    position: absolute;
    top: 0;
    left: 360px;
    display: flex;
    max-width: 1120px;
    height: 440px;
    border-radius: 10px;
    background-color: #fff;
    flex-direction: column;
    overflow: auto;
}

.cardContainer {
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
}

.sectionCard {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 0 24px;
    width: 1100px;
}

.visaOn p {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 5px;
    
}

.addCardBtn {
    background-color: #fff;
    border: 1px solid #7956D8;
    color: #7956D8;
    width: 170px;
    height: 42px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
}

.sectionName {
    color: var(--main-lilac-violet, #7956D8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.sectionCardContainer {
    padding: 10px;
    width: 1100px;
    height: 410px;
}

.cardContainer .title h6 {
    display: flex;
    color: #7956D8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-left: 10px;
}

.notingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.cardContainer .container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h4 {
    color: #17151C;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 15px 0;
}

.container h6 {
    color: #59565C;
    text-align: center;
    font-family: Aeonik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.addBtn {
    margin-top: 30px;
    width: 170px;
    height: 43px;
    background-color: transparent;
    color: #7956D8;
    border: 1px solid #7956D8;
    border-radius: 8px;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #7956D8;
    color: #fff;
}