.haveQuestion {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.haveQuestion.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerQuestion {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    padding: 10px 15px;
}

.exitTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exitTitle p {
    color: #17151C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
}

.contentInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.contentInputs p {
    color: #17151C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contentInputs input {
    margin-bottom: 20px;
}

.contentInputs textarea {
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
}

.containerButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerButtons button:nth-child(1) {
    cursor: pointer;
    border-radius: 5px;
    border: 1px dashed #7956d8;
    background-color: transparent;
    color: #7956d8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    width: 327px;
    height: 40px;
}

.containerButtons button:nth-child(2) {
    cursor: pointer;
    background-color: #7956d8;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 327px;
    height: 40px;
}