.allContainer {
    position: absolute;
    top: 0;
    left: 360px;
    border-radius: 10px;
    background-color: #fff;
    width: 1100px;
    height: 420px;
    padding: 15px;
}

.namePage {
    color: #7956D8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.onContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding-bottom: 15px;
}

.line {
    width: 1070px;
    height: 1px;
    border: 1px solid #F4F3F7;    
}

.firstInput {
    position: relative;
}

.firstInput input {
    width: 335px;
    height: 48px;
}

.secondINput {
    position: relative;
}

.iconOne {
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #7956D8;
    border: none;
    background-color: transparent;
}

.btnChange {
    width: 207px;
    height: 48px;
    margin: 0 auto;
    border: none;
    background-color: #7956D8;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btnDeactivate {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 171px;
    height: 42px;
    color: #f14055;
    background-color: #f4f3f7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.notification {
    position: absolute;
    top: 10px;
    left: 350px;
    display: flex;
    gap: 8px;
    background-color: #fff;
    padding: 1px 20px;
    border-radius: 10px;
}

.notificationIcon {
    font-size: 18px;
    color: #23C983;
}

.notificationTitle {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}