.myButton {
    padding: 10px 114px 15px;
    background-color: #7956D8;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myButton:hover {
    background-color: #694cba;
}