.editInputContainer {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.selectSection {
    position: relative;
    margin-bottom: 15px;
    width: 283px;
    height: 48px;
    border-radius: 10px;
    left: -14px;
}

.inputIcon {
    position: absolute;
    left: 233px;
    top: 16px;
}