.container {
    position: relative;
}

.visaSection {
    position: relative;
    display: flex;
    align-items: center;
    width: 310px;
    height: 70px;
    padding: 10px 12px;
    flex-direction: row;
    gap: 10px;
    border: 1px solid #DAD6E5;
    border-radius: 10px;
    margin-right: 25px;
}

.sectionName {
    color: #7956D8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.visaOn {
    display: block;
}

.visaOn p {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 5px;
}

.account {
    position: relative;
    top: 0;
}

.background {
    background-color: #F6F0FF;
    width: 35px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visa {
    position: relative;
    top: 3px;
}

.dot {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.visaCard {
    display: flex;
    padding: 15px 0;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}

.cardOne {
    z-index: 1;
    position: absolute;
    padding: 3px 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 3px 8px 4px rgba(0, 0, 0, 0.15);
    top: 75px;
    right: -25px;
    width: 153px;
    min-height: 90px;
}

.cardOne p {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 5px;
}

.cardOne p:hover {
    background-color: #F6F0FF;
    border-radius: 20px;
}

.visa {
    position: relative;
    top: 2px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #A29DB0;
}