.veraficContainer {
    max-width: 265px;
    display: flex;
    gap: 20px;
}

.VeraficInput {
        width: 50px;
        height: 48px;
        border: 1px solid #fff;
        border-radius: 5px;
        border: 1px solid var(--n-3, #DAD6E5);
        background: var(--n-0, #FFF);
        font-size: 25px;

}