.emailContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.7);
}

.emailContainer.active {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.sectionEmail {
    background-color: #fff;
    width: 600px;
    min-height: 322px;
    padding: 25px;
    border-radius: 10px;
}

.sectionTitile {
    display: flex;
    justify-content: space-between;
}

.sectionInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.sectionInput input {
    margin-bottom: 20px;
}

.btnSection {
    width: 335px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: #7956D8;
    color: #f6f0ff;
    margin-bottom: 15px;
    cursor: pointer;
}

.sectionInput p {
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--n-2, #F4F3F7);
    color: #000;
    font-family: Aeonik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.btnVerific {
    background-color: #F4F3F7;
    color: #7956d8;
    width: 335px;
    height: 42px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}